<template>
    <div class="test">
        <img :src="viteLogo">
        <img :src="srcImg">
    </div>
</template>
<script setup>
import {ref, onMounted} from 'vue';
import viteLogo from '/Images/vite.png';

const srcImg = ref("")

onMounted(async() =>{
    srcImg.value = await window.getNAVResource('/Images/js.png')
})
</script>
<style scoped>
.test {
    height: 80px;
    display: flex;
    gap : 10px;
}
</style>