<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dynamite Nav - My Control Addin</title>
  </head>
  <body>
    <% if(vue){ %>
    <div id="app"></div>
      <% }else{ %>
    <div id="controlAddIn">
      This is my new control Addin !
      <div id="example"></div>
    </div>
    <% } %>
    <script type="module" src="main.js"> </script>

  </body>
</html>